<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav.html' %}
        <main>
            <h1>How Pawan's Bot Works 🤖</h1>
            <p>The chatbot is powered by <a href="https://openai.com/blog/introducing-chatgpt-and-whisper-apis">OpenAI's GPT-3.5 Turbo API.</a></p>
            <p>This bot is being built to reference sources when making statements to substantiate the results from the bot. With that said, the bot sometimes creates fake sources that are not in the reference corpus.</p>
            <p>This bot is prone to hallucination (generating text that is factually inaccurate).</p>
            <p>Claims made by the bot should be fact-checked against all provided sources, and with secondary sources should such research be prudent.</p>
            <p>This bot is an experiment with generative AI.</p>
            
        </main>
    </body>
</html>