<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav.html' %}
        <main>
            <h1>James Bot 🤖</h1>
            <textarea name="text" placeholder="Ask a question..." rows="3" required>{{ prompt }}</textarea>
            <button id="ask">Ask Question</button>
            <pre><span id="concise-answer">Ask a question!</span></pre>
            <p style="font-size: 0.6em;"><a href="" id="share-link-below-question"></a></p>
            <h2>Prompt References</h2>
            <details>
                <summary>View References</summary>
                <ul id="references"></ul>
                <div id="defense"></div>
            </details>
            <p class="disclaimer">This text was written by a generative text language model, trained on James' blog. Factual inaccuracies may be present.</p>
            <div class="feedback">
                <h2>Review the Answer</h2>
                <div class="feedback-inner">
                    <button id="thumbs-up" style="background-color: #77DD77; margin-right: 10px;">👍</button>
                    <button id="thumbs-down" style="background-color: orange;">👎</button>
                </div>
            </div>
            <style>
                .feedback {
                    display: none;
                }
                .feedback-inner {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }
                .feedback-inner button {
                    border: none;
                    font-size: 1.5em;
                    cursor: pointer;
                    margin: 0;
                }
            </style>
            <h2>Question Ideas</h2>
            <ul id="ideas">
                <li><a href="/?prompt=What programming languages do you know?">What programming languages do you know?</a></li>
                <li><a href="/?prompt=Do you use microformats on your website?">Do you use microformats on your website?</a></li>
                <li><a href="/?prompt=How do I send a trackback with indieweb utils?">How do I send a trackback with indieweb utils?</a></li>
                <li><a href="/?prompt=What music do you like?">What music do you like?</a></li>
            </ul>
            <h2>About This Project</h2>
            <p>Pawan Bot is an AI chatbot trained on Pawan' public IRC messages and blog. You can ask the Bot questions below.</p>
            <p>Please note the Bot generates text and may be prone to hallucination (generating text that is factually inaccurate).</p>
            <footer>
                <p>Pawan Bot is made with ❤️, 🧇 and ☕️ by <a href="https://jamesg.blog">capjamesg</a>. <a href="/login">Login</a>.</p>
            </footer>
        </main>
        <script>
            document.getElementById('ask').addEventListener('click', function(e) {
                var feedback = document.querySelector('.feedback');
                feedback.style.display = 'none';
                e.preventDefault();
                var text = document.querySelector('textarea[name="text"]').value;
                var url = '/query';
                // add concise display
                document.getElementById('concise-answer').innerText = 'Loading.';
                // make loading go . to .. to ...
                var loading = document.getElementById('concise-answer').innerText;
                var loading_interval = setInterval(function() {
                    if (loading === 'Loading...') {
                        loading = 'Loading.';
                    } else if (loading === 'Loading..') {
                        loading = 'Loading...';
                    } else if (loading === 'Loading.') {
                        loading = 'Loading..';
                    }
                    document.getElementById('concise-answer').innerText = loading;
                }, 500);
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'query=' + encodeURIComponent(text)
                })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(text) {
                        clearInterval(loading_interval);
                        document.getElementById('references').innerHTML = '';
                        document.getElementById('concise-answer').innerHTML = text['response'];

                        var sources = text['references']['inline'].slice(0, 3);

                        for (let i = 0; i < sources.length; i++) {
                            var new_list_item = document.createElement('li');
                            // references has a url and a title key
                            new_list_item.innerHTML = '<a href="' + sources[i]['url'] + '">' + sources[i]['title'] + '</a> [INLINE]';

                            document.getElementById('references').appendChild(new_list_item);
                        } 
                        var sources = text['references']['sources'].slice(0, 3);
                        for (let i = 0; i < sources.length; i++) {
                            var new_list_item = document.createElement('li');
                            // references has a url and a title key
                            new_list_item.innerHTML = '<a href="' + sources[i]['url'] + '">' + sources[i]['title'] + '</a>';

                            document.getElementById('references').appendChild(new_list_item);
                        } 

                        // delete all share buttons
                        var share_buttons = document.querySelectorAll('.share');
                        for (let i = 0; i < share_buttons.length; i++) {
                            share_buttons[i].remove();
                        }

                        // add share button
                        var share_button = document.createElement('button');
                        share_button.innerText = 'Share';
                        share_button.classList.add('share');
                        share_button.addEventListener('click', function(e) {
                            e.preventDefault();
                            // copy to clipboard then make toast
                            var url = window.location.origin + window.location.pathname + 'prompt/' + encodeURIComponent(text['id']);
                            // write to clipboard
                            navigator.clipboard.writeText(url).then(function() {
                                // make toast
                                var toast = document.createElement('div');
                                toast.classList.add('toast');
                                toast.innerText = 'Link copied to clipboard! 📋';
                                document.body.appendChild(toast);
                                setTimeout(function() {
                                    toast.remove();
                                }, 3000);
                            });
                        });
                        // add data[id] to document.getElementById('concise-answer')
                        document.getElementById('concise-answer').setAttribute('data-id', text['id']);

                        var share_link = document.getElementById('share-link-below-question');
                        share_link.href = window.location.origin + window.location.pathname + 'prompt/' + encodeURIComponent(text['id']);
                        share_link.innerText = window.location.origin + window.location.pathname + 'prompt/' + encodeURIComponent(text['id']);
                        document.getElementById('concise-answer').after(share_button);
                        // save prompt id, question, and answer to localstorage
                        var prompt = {
                            id: text['id'],
                            question: document.querySelector('textarea[name="text"]').value,
                            answer: text['response']
                        };

                        var prompts = JSON.parse(localStorage.getItem('prompts'));

                        if (prompts === null) {
                            prompts = [];
                        }

                        prompts.push(prompt);

                        localStorage.setItem('prompts', JSON.stringify(prompts));
                        var feedback = document.querySelector('.feedback');
                        feedback.style.display = 'block';
                        // add "defend" button at end of Sources section
                        var defend_button = document.createElement('button');
                        defend_button.innerText = 'Defend Response';
                        defend_button.classList.add('defend');

                        defend_button.addEventListener('click', function(e) {
                            e.preventDefault();
                            defendResponse(text['id'], prompt['question'], prompt['answer']);
                        });

                        document.getElementById('references').appendChild(defend_button);
                    }).catch(function(error) { 
                        console.log(error);
                        document.getElementById('concise-answer').innerText = 'There was an error with your request.';
                        // clear loading interval
                        loading_interval = clearInterval(loading_interval);
                    });
            });

            function defendResponse (id, question, answer) {
                var url = '/defend';
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'id=' + encodeURIComponent(id)
                })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(text) {
                        var defense_div = document.getElementById('defense');
                        defense_div.innerHTML = "<h3>Critical Analysis</h3><h4>Question</h4><pre>" + question + "</pre><h4>Original Answer from Model</h4><pre>" + answer + "</pre><h4>Critical Analysis</h4><pre>" + text['response'] + "</pre>";
                    }).catch(function(error) {
                        console.log(error);
                    });
            }
            

            function giveFeedback (id, feedback) {
                var url = '/feedback';
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'id=' + encodeURIComponent(id) + '&feedback=' + encodeURIComponent(feedback)
                })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(text) {
                        console.log(text);
                    }).catch(function(error) {
                        console.log(error);
                    });
            }

            // when #thumbs-up clicked, post to /feedback?id= with feedback=1
            document.getElementById('thumbs-up').addEventListener('click', function(e) {
                e.preventDefault();
                var id = document.getElementById('concise-answer').getAttribute('data-id');
                giveFeedback(id, 1);
                // hide feedback
                var feedback = document.querySelector('.feedback');
                feedback.style.display = 'none';
            });

            // when #thumbs-down clicked, post to /feedback?id= with feedback=0
            document.getElementById('thumbs-down').addEventListener('click', function(e) {
                e.preventDefault();
                var id = document.getElementById('concise-answer').getAttribute('data-id');
                giveFeedback(id, -1);
                // hide feedback
                var feedback = document.querySelector('.feedback');
                feedback.style.display = 'none';
            });
          </script>
    </body>
</html>